:root{
    --main-color : rgb(3, 0, 31);
    --brand-color: #0fcefd;
    --border-color: rgb(100,100,100);
    --button-color: #5A4BFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    padding: 0px !important;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}


#header{
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--border-color);

}

#logo-name{
    margin-top: 10px;
    margin-left: -60px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.blue-span{
    color: white;
}

#log-type{
    color: whitesmoke;
    font-weight: 700;
}

/*Main Container*/
#main-container{
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#side-bar{
    width: 300px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid var(--border-color);

}

#new-analysis-btn{
    width: 200px;
    font-size: 18px;
    margin-bottom: 30px;
    background-color: var(--button-color);
    border-radius: 4px !important;
    border: none;
    margin-bottom: -150px;

}

.btn:focus {
    border: none !important;
  }

ul{
    margin-bottom: -15px;
}

ul li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-bottom: 15px;
    font-size: 15px;
    color: whitesmoke;
}

ul li:hover{
    color: var(--button-color);
}

#lower-side{
    border-top: 1px solid var(--border-color);
    width: 119%;
    height: 250px;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

i{
    margin-right: 10px;
    font-size: 18px;
    color: whitesmoke;
}

#gpt-body{
    flex-grow: 1;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#text-box{
    margin-top: 70px;
    text-align: center;
    color: whitesmoke;
}

#small-heading{
    font-style: italic;
    margin-top: 80px;
    color: rgba(196, 196, 196, 0.493);
}

.animate__animated.animate__pulse {
    --animate-duration: 2s;
    animation-iteration-count:infinite;
  }

#input-container{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;

}

#input-box{
    width: 70%;
    height: 55px;
    background-color: rgba(28,30,58,1);
    outline: none;
    border: none;
    padding: 20px;
    color: whitesmoke;
    letter-spacing: 1px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload{
    display: block;
    background-color: rgba(28,30,58,1);
    height: 55px !important;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-paperclip{
    font-size: 24px;
    margin-left: 20px;
}
.fa-paper-plane{
    font-size: 24px;
    margin-right: 30px;
}

#submit-chat{
    background-color: rgba(28,30,58,1);
    height: 55px !important;
    width: 30px;
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    #logo-name{
        left: 25px;
        top: 80px;
    }
  }
@media (max-width: 462px) {
    #logo-name img{
        width: 40px;
        height: 40px;
    }
    #logo-name{
        font-size: 14px;
    }


  }